$border-radius: 8px;
.main-button {
  background-color: $primary-color;
  border-radius: $border-radius;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  align-self: center;
  border: solid 0.2rem transparent;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.7rem 1.6rem;
  &:hover {
    border-color: $primary-color;
    background-color: $secondary-color;
    color: $primary-color;
  }
}
$border-radius: 8px;
.sub-button {
  background-color: $neutral-color;
  border-radius: $border-radius;
  color: $neutral-second-color;
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  align-self: center;
  border: solid 0.2rem transparent;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.7rem 1.6rem;
  text-align: center;
  &:hover {
    border-color: $secondary-color;
    background-color: $base-color;
    color: $secondary-color;
  }
}
.img-button {
  padding: 0rem 1.6rem;
  background-color: $base-color;
  border-radius: $border-radius;
  border: 0.2rem solid $primary-color;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: $secondary-color;
  font-weight: 500;
  svg {
    color: $secondary-color;
    width: 2.4rem;
  }
  &:hover {
    border-color: $neutral-second-color;
    background-color: $secondary-color;
    color: $base-color;
    svg {
      color: $base-color;
    }
  }
}

.input {
  background-color: $base-color;
  border-radius: $border-radius;
  border: 0.2rem solid $primary-color;
  text-align: center;
  font-weight: 500;
  color: $secondary-color;
}

.blur {
  backdrop-filter: blur(7px);
}

$w: 5rem;
.simple-title {
  text-transform: uppercase;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top:50%;
    right: ($w + 2rem) * -1;;
    background-color: $secondary-color;
    width: $w;
    height: 0.2rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: ($w + 2rem) * -1;
    top:50%;
    background-color: $secondary-color;
    width: $w;
    height: 0.2rem;
  }
}

.check{
  background-color: $neutral-color;
  border-radius: $border-radius;
  border: 0.2rem solid transparent;
  text-align: center;
  font-weight: 500;
  color: $neutral-second-color;
  padding: 0.5rem 1rem;
}