$border-radius: 8px;
.main-button {
  background-color: $primary-color;
  border-radius: $border-radius;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  align-self: center;
  border: solid 0.2rem transparent;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.7rem 1.6rem;
  &:hover {
    border-color: $primary-color;
    background-color: $secondary-color;
    color: $primary-color;
  }
}
$border-radius: 8px;
.sub-button {
  background-color: $neutral-color;
  border-radius: $border-radius;
  color: $neutral-second-color;
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  align-self: center;
  border: solid 0.2rem transparent;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.7rem 1.6rem;
  text-align: center;
  &:hover {
    border-color: $secondary-color;
    background-color: $base-color;
    color: $secondary-color;
  }
}
.img-button {
  padding: 0rem 1.6rem;
  background-color: $base-color;
  border-radius: $border-radius;
  border: 0.2rem solid $primary-color;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: $secondary-color;
  font-weight: 500;
  svg {
    color: $secondary-color;
    width: 2.4rem;
  }
  &:hover {
    border-color: $neutral-second-color;
    background-color: $secondary-color;
    color: $base-color;
    svg {
      color: $base-color;
    }
  }
}

.input {
  background-color: $base-color;
  border-radius: $border-radius;
  border: 0.2rem solid $primary-color;
  text-align: center;
  font-weight: 500;
  color: $secondary-color;
}

.blur {
  backdrop-filter: blur(7px);
}

$w: 5rem;
.simple-title {
  text-transform: uppercase;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: ($w + 2rem) * -1;
    background-color: $secondary-color;
    width: $w;
    height: 0.2rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: ($w + 2rem) * -1;
    top: 50%;
    background-color: $secondary-color;
    width: $w;
    height: 0.2rem;
  }
}

.check {
  background-color: $neutral-color;
  border-radius: $border-radius;
  border: 0.2rem solid transparent;
  text-align: center;
  font-weight: 500;
  color: $neutral-second-color;
  padding: 0.5rem 1rem;
}



// tooltip

@mixin tooltip($color: $primary-color) {
  [data-tooltip] {
    position: relative;
    cursor: pointer;
  }
  [data-tooltip]:before,
  [data-tooltip]:after {
    line-height: 1;
    font-size: 0.9em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    display: none;
    opacity: 0;
  }
  [data-tooltip]:before {
    content: "";
    border: 5px solid transparent;
    z-index: 100;
  }
  [data-tooltip]:after {
    content: attr(data-tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.7rem 1.6px;
    border-radius: 50%;
    background: $color;
    color: $secondary-color;
    z-index: 99;
  }
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    display: block;
    opacity: 1;
  }
  [data-tooltip]:not([data-flow])::before,
  [data-tooltip][data-flow="top"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: $color;
  }
  [data-tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow="top"]::after {
    bottom: calc(100% + 5px);
  }
  [data-tooltip]:not([data-flow])::before,
  [tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow="top"]::before,
  [data-tooltip][data-flow="top"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -4px);
    transform: translate(-50%, -4px);
  }
  [data-tooltip][data-flow="bottom"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: $color;
  }
  [data-tooltip][data-flow="bottom"]::after {
    top: calc(100% + 5px);
  }
  [data-tooltip][data-flow="bottom"]::before,
  [data-tooltip][data-flow="bottom"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, 8px);
    transform: translate(-50%, 8px);
  }
  [data-tooltip][data-flow="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: $color;
    left: calc(0em - 5px);
    -webkit-transform: translate(-8px, -50%);
    transform: translate(-8px, -50%);
  }
  [data-tooltip][data-flow="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    -webkit-transform: translate(-8px, -50%);
    transform: translate(-8px, -50%);
  }
  [data-tooltip][data-flow="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: $color;
    right: calc(0em - 5px);
    -webkit-transform: translate(8px, -50%);
    transform: translate(8px, -50%);
  }
  [data-tooltip][data-flow="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    -webkit-transform: translate(8px, -50%);
    transform: translate(8px, -50%);
  }
  [data-tooltip=""]::after,
  [data-tooltip=""]::before {
    display: none !important;
  }
}
