$base-color:#1B1B1B;
$base-second-color: #131313;
$neutral-color:#333333;
$neutral-second-color:#B0B3B8;
$primary-color:#E91E63;
$secondary-color:#F7F7F7;
$anime-color:#00BCD4;
$serie-color:#673AB7;
$film-color:#E91E63;
$border-radius:12px;